  /* Begin Custom Styles */
  .aside-background {
    background-color: #e3e3e3;
  }

  .weather-main-bg {
    background-color: #f5f5f5;;
  }

  .custom-button {
    background-color: #00aac1;
    color: white;
  }

  h1 {
      text-align: center;
  }